{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Ласкаво просимо до BitterComand!</h1>
        <p>Це платформа для обміну знаннями та спільної роботи над завданнями.</p>

        <div class="mt-4">
            <h2>Останні новини</h2>
            <ul>
                <li><strong>Новина 1:</strong> Запуск нових функцій для поліпшення вашого досвіду!</li>
                <li><strong>Новина 2:</strong> Підтримка нових мов програмування.</li>
                <li><strong>Новина 3:</strong> Залишайтеся на зв'язку з нами для отримання оновлень.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Як це працює?</h2>
            <p>На нашій платформі ви можете:</p>
            <ul>
                <li>Створювати та ділитися завданнями.</li>
                <li>Перевіряти рішення з допомогою юніт-тестів.</li>
                <li>Спілкуватися з іншими користувачами.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Приєднуйтесь до нас!</h2>
            <p>Якщо ви ще не зареєстровані, <a href="/register">зареєструйтеся тут</a>!</p>
            <p>Якщо у вас вже є акаунт, <a href="/login">увійдіть</a>, щоб почати!</p>
        </div>
    </div>
{% endblock %}